iframe{width: 100%;height: 400px;}
.interaction{width: 100%;padding: 30px;text-align: center;background-color: #ccc;}
.interaction span{width: 30%;display: inline-block;vertical-align: middle;}
.user-picture {
	width: 15%;
	display: inline-block;
	vertical-align: top;
}
.author{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.user-picture img{
	width: 100%;
	border-radius: 50%;
}
.video-info{
	display: inline-block;
    width: 65%;
    overflow: hidden;
    margin-top: 44px;
}
.thumbnail{
	margin-top: 40px;
}